<aside class="filters-section">
  <h2>Filter By:</h2>
  <!-- Type of brewery - Challenge #1 -->
  <form id="filter-by-type-form" autocompete="off">
    <label for="filter-by-type">
      <h3>Type of Brewery</h3>
    </label>
    <select name="filter-by-type" id="filter-by-type">
      <option value="">Select a type...</option>
      <option value="micro">Micro</option>
      <option value="regional">Regional</option>
      <option value="brewpub">Brewpub</option>
    </select>
  </form>
  <!-- Cities  - Challenge #2 -->
  <div class="filter-by-city-heading">
    <h3>Cities</h3><button class="clear-all-btn">clear all</button>
  </div>
  <form id="filter-by-city-form">
    <input type="checkbox" name="williamsville" value="williamsville">
    <label for="williamsville">Williamsville</label> <input type="checkbox" name="holland patent"
      value="holland patent">
    <label for="holland patent">Holland Patent</label>
    <input type="checkbox" name="holbrook" value="holbrook">
    <label for="more">More cities ...</label>
    <input type="checkbox" name="more" value="more">
  </form>

</aside>